<!doctype html>
<title>{% block title %}{% endblock %} - Calculator</title>

<!-- link css styling file -->
<link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">

<nav> <!-- a set of navigaton links -->
	<hl>Calculator</hl>
</nav>
<section class="content">
	<header>
		{% block header %}{% endblock %}
	</header>
	{% for message in get_flashed_messages() %}
		<div class="flash">{{ message }}</div> <!-- division -->
	{% endfor %}
	{% block content %}{% endblock %}
	{% block result %}{% endblock %}
</section>