{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %} Main page {% endblock %}</h1>
{% endblock %}

{% block content %}
	<form method="post">

        <p>Select formula:</p>
        <input type="radio" id="fibo" name="formula" value="fibo" onclick="makeNum2Invisible()" required>
        <label for="fibo">Fibonacci</label><br>
        <input type="radio" id="fact" name="formula" value="fact" onclick="makeNum2Invisible()" required>
        <label for="fact">factorial</label><br>
        <input type="radio" id="ack" name="formula" value="ack" onclick="makeNum2Visible()" required>
        <label for="ack">Ackermann</label><br><br>

        <div id="num1-div">
            <label for="num1">Input: </label>
            <input type="number" name="num1" id="num1" min=0 required>
        </div>
        <div id="num2-div" style="visibility: hidden">
            <label for="num2">Input #2: </label>
		    <input type="number" name="num2" id="num2" min=0>
        </div>
		<input type="submit" value="Calculate">
	</form>

    <script>
    var formulas = document.getElementsByName("formula")
    for(var i = 0; i < 3; i++) {
        formulas[i].addEventListener('change', function() { updateMaxForNum1(); });
    }
    document.getElementById("num1").addEventListener('change', function() { updateMaxForNum2(); });

    function makeNum2Invisible() {
        document.querySelector('label[for="num1"]').textContent = "Input:";
        document.getElementById('num2-div').style.visibility = "hidden";
        document.getElementById('num2').required = false;
    }
    function makeNum2Visible() {
        document.querySelector('label[for="num1"]').textContent = "Input #1:";
        document.getElementById('num2-div').style.visibility = "visible";
        document.getElementById('num2').required = true;
    }
    function updateMaxForNum1() {
        var formula = document.querySelector('input[name="formula"]:checked').value;
        var num1 = document.getElementById("num1");
        switch (formula) {
            case 'fibo': num1.setAttribute('max', 500000); break;
            case 'fact': num1.setAttribute('max', 100000); break;
            case 'ack': num1.setAttribute('max', 3);
        }
    }
    function updateMaxForNum2() {
        var formula = document.querySelector('input[name="formula"]:checked').value;
        if (formula == "ack") {
            var num1 = document.getElementById("num1").value;
            var max2 = calcMax2FromNum1ForAckermann(num1);
            var x = document.getElementById("num2");
            x.setAttribute('max', max2);
        }
    }
    function calcMax2FromNum1ForAckermann(num1) {
        if (num1 == 0) return 25;
        else if (num1 == 1) return 10;
        else if (num1 == 2) return 8;
        else return 5;
    }
    </script>
{% endblock %}